<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">

	<listeners>
		<listener class-name="Real_Project.TestListener"></listener>
	</listeners>

	<parameter name="url" value="https://amazon.com"></parameter>
	<parameter name="key" value="12345"></parameter>
	
	<test thread-count="2" name="Test">
		<classes>
			<class name="Real_Project.First_Real_Program"></class>
			<class name="Real_Project.Program_2"></class>
		</classes>
	</test> <!--Test -->

	<test name="Test1">
		<classes>
			<class name="Real_Project.First_Real_Program"></class>
			<class name="Real_Project.Program_2"></class>
		</classes>
	</test> <!--Test -->
	
</suite> <!--Suite -->
